@model MVCBookStore.Models.SACH

@{
    ViewBag.Title = "Chitiet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THONG TIN CHI TIET SACH</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Ten sach:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
           Don vi tinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>

        <dt>
            Don gia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia) VND
        </dd>

        <dt>
           Mo ta:
        </dt>

        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Anh bia:
        </dt>

        <dd>
            <img src="~/BookCover/@Model.Hinhminhhoa" width="120px" />
        </dd>

        <dt>
            Chu de:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUDE.TenChuDe)
        </dd>

        <dt>
            Nha xuat ban:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
        </dd>

        <dt>
            Ngay cap nhat:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            So luong ban:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongban)
        </dd>

        <dt>
            So lan xem:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solanxem)
        </dd>

        <dt>
            Moi:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moi)
        </dd>

    </dl>
</div>

<div>
    <p>
        @Html.ActionLink("Edit", "Suasach", new { id = Model.Masach }) |
        @Html.ActionLink("Back to List", "Sach")
    </p>
</div>

